body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 400px;
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  opacity: 0.8;
}

li {
  list-style: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

li span {
    flex: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.complete-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}